* {
  font-family: "Helvetica Neue Cyr";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media screen and (max-width: 1320px) {
  .container {
    padding: 0 15px;
  }
}

.logo {
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.2);
}

.header {
  background: url("../img/header/danilkin/bgc.jpg") no-repeat;
  background-size: cover;
  height: 900px;
  position: relative;
  z-index: 0;
  transition: background 0.6s;
}
.header::before {
  content: "";
  background-color: rgba(19, 61, 141, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__burger-open {
  height: 1100px;
}

.header-page {
  background: #133d8d;
  height: 160px;
}

.header-page__burger-open {
  height: 410px;
}

.header__toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #fff;
}

.header__contact {
  font-weight: 500;
  color: #fff;
}

.header__email {
  margin-right: 50px;
  transition: all 0.3s;
}
.header__email:hover {
  color: #bd0007;
  text-decoration: underline;
}

.header__tel {
  transition: all 0.3s;
}
.header__tel:hover {
  color: #bd0007;
  text-decoration: underline;
}

.header__search path {
  transition: all 0.3s;
}
.header__search:hover path {
  fill: #bd0007;
}

.header__nav {
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    position: relative;
    margin-top: 70px;
  }
}

.nav__burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__burger {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    margin-right: -50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .nav__burger span {
    display: block;
    width: 13px;
    height: 2px;
    background: #fff;
    margin-right: 10px;
    position: relative;
  }
  .nav__burger span::before {
    content: "";
    width: 13px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 4px;
  }
  .nav__burger span::after {
    content: "";
    width: 13px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 4px;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .nav__list {
    flex-direction: column;
    display: none;
  }
}

.nav__item {
  transition: all 0.3s;
}
.nav__item:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1024px) {
  .nav__item {
    margin-top: 15px;
    text-align: center;
  }
}

.nav__link {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.header__slider {
  margin-top: 120px;
  overflow: hidden;
}

.header__slide {
  position: relative;
}

.header__slide-main {
  height: 550px;
  padding: 0 15.9%;
}

.header__slide-title {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
  max-width: 636px;
}

.header__slide-subtitle {
  font-weight: 500;
  color: #fff;
  max-width: 410px;
  margin-top: 30px;
  padding-left: 30px;
  border-left: 1px solid #fff;
}

.header_slide-btn {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #bd0007;
  padding: 15px 30px;
  width: 170px;
  transition: all 0.2s;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
.header_slide-btn:hover {
  transform: scale(1.1);
}

.header__slide-info {
  background: rgba(51, 51, 51, 0.3);
  width: 526px;
  padding: 30px 35px;
  position: absolute;
  bottom: 4px;
  right: 311px;
}
@media screen and (max-width: 1880px) {
  .header__slide-info {
    right: 292px;
  }
}
@media screen and (max-width: 1650px) {
  .header__slide-info {
    right: 178px;
  }
}
@media screen and (max-width: 1400px) {
  .header__slide-info {
    right: 52px;
  }
}
@media screen and (max-width: 1296px) {
  .header__slide-info {
    right: 0;
  }
}

.header__slide-info_title {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__slide-info_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__slide-info_parameters {
  margin-top: 25px;
}

.header__slide-info_parametr {
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
}
.header__slide-info_parametr:last-child {
  margin: 0;
}

.header__slide-info_decor {
  display: block;
  max-height: 60px;
}

.header__slide-btn_box {
  display: flex;
  margin-top: -61px;
  z-index: 1;
  position: relative;
}

.header__slide-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #133d8d;
  padding: 23px;
  width: 60px;
  transition: all 0.3s;
  margin-right: 20px;
}
.header__slide-prev:hover {
  background: #bd0007;
}

.header__slide-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #133d8d;
  padding: 23px;
  width: 60px;
  transition: all 0.3s;
}
.header__slide-next:hover {
  background: #bd0007;
}

.news {
  padding: 137px 0 160px;
}

.news__toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__title {
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}

.news__all {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #133d8d;
}
.news__all:hover {
  text-decoration: underline;
}

.news__cardbox {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1320px) {
  .news__cardbox {
    flex-flow: row wrap;
    row-gap: 24px;
  }
}

.news__card {
  display: block;
  max-width: 306px;
  max-height: 330px;
  padding: 25px 29px 25px 25px;
  position: relative;
  z-index: 0;
}
.news__card::before {
  content: "";
  background-color: rgba(19, 61, 141, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.news__card:hover .news__card-title {
  text-decoration: underline;
}

.news__card-one {
  background: url("../img/news/1.jpg");
}

.news__card-two {
  background: url("../img/news/2.jpg");
}

.news__card-three {
  background: url("../img/news/3.jpg");
}

.news__card-four {
  background: url("../img/news/4.jpg");
}

.news__card-date {
  max-width: 140px;
  background: #bd0007;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  padding: 8px 12px 5px;
  margin-bottom: 108px;
}

.news__card-title {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.news__card-subtitle {
  color: #fff;
  opacity: 0.75;
}

.history {
  background: #133d8d;
  padding: 120px 0 45px;
}

.history__inner {
  display: flex;
}
@media screen and (max-width: 1252px) {
  .history__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.history__content {
  max-width: 526px;
}

.history__title {
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1252px) {
  .history__title {
    text-align: center;
  }
}

.history__article {
  margin-top: 40px;
  color: #fff;
}

.history__page {
  margin-bottom: 18px;
}
.history__page:last-child {
  margin: 0;
}

.history__decor {
  margin: 75px 0 0 149px;
}
@media screen and (max-width: 1252px) {
  .history__decor {
    margin: 75px 0 0 0;
  }
}

.history__curve {
  margin-bottom: 15px;
}

.history__list {
  margin-left: 73px;
  font-weight: 500;
  color: #fff;
}

.history__item {
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
}
.history__item:last-child {
  margin: 0;
}
.history__item::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  background: #fff;
}

.publ {
  padding: 150px 0 206px;
}

.publ__toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publ__title {
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}

.publ__all {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #133d8d;
}
.publ__all:hover {
  text-decoration: underline;
}

.publ__cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1320px) {
  .publ__cards {
    flex-flow: row wrap;
    row-gap: 55px;
  }
}

.publ__card {
  display: block;
  max-width: 306px;
}
.publ__card:hover .publ__card-title {
  text-decoration: underline;
}
@media screen and (max-width: 1320px) {
  .publ__card {
    margin-right: 15px;
  }
}

.publ__card-date {
  color: #333;
  opacity: 0.75;
  margin-top: 30px;
}

.publ__card-title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-top: 20px;
}

.publ__card-subtitle {
  color: #133d8d;
  margin-top: 20px;
}

.projects {
  background: rgba(19, 61, 141, 0.5);
  padding: 120px 0 150px;
}

.projects__toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__title {
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.project__linkbox {
  display: flex;
  align-items: center;
}

.project__all {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #133d8d;
  color: #fff;
  margin-right: 40px;
}
.project__all:hover {
  text-decoration: underline;
}

.project__slider-btnbox {
  display: flex;
}

.project__slider-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #133d8d;
  padding: 23px;
  width: 60px;
  transition: all 0.3s;
  margin-right: 15px;
}
.project__slider-prev:hover {
  background: #bd0007;
}

.project__slider-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #133d8d;
  padding: 23px;
  width: 60px;
  transition: all 0.3s;
}
.project__slider-next:hover {
  background: #bd0007;
}

.projects__slider {
  margin-top: 85px;
}

.project__slide {
  display: flex;
  height: 600px;
  width: 100%;
}

.project__slide--first .project__slide-decor {
  background: url("../img/projects/1.jpg") no-repeat;
}

.project__slide--second .project__slide-decor {
  background: url("../img/projects/2.jpg") no-repeat;
}

.project__slide--third .project__slide-decor {
  background: url("../img/projects/3.jpg") no-repeat;
}

.project__slide-decor {
  padding: 45px;
  width: 706px;
  position: relative;
}

.project__slide-decor_decr {
  max-width: 468px;
  position: absolute;
  bottom: 46px;
  left: 44px;
}

.project__slide-decor_title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.project__slide-decor_subtitle {
  color: #fff;
}

.project__slide-info {
  background: #133d8d;
  padding: 55px 60px;
  width: 590px;
  position: relative;
}

.project__slide-info_countbox {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 28px 50px;
}

.project__slide-info_countelement {
  max-width: 210px;
}

.project__slide-info_count {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 10px;
}
@media screen and (max-width: 1151px) {
  .project__slide-info_count {
    font-size: 33px;
  }
}

.project__slide-info_counttext {
  margin-top: 10px;
}

.project__slide-info_btn {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  padding: 15px 30px;
  width: 170px;
  transition: all 0.2s;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  position: absolute;
  bottom: 50px;
  left: 57px;
  letter-spacing: 0.05em;
}
.project__slide-info_btn:hover {
  transform: scale(1.1);
}

.slick-initialized .project__slide {
  display: flex;
}

.progress {
  padding: 150px 0;
}

.progress__inner {
  display: flex;
  align-items: center;
}

.progress__slide-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #133d8d;
  padding: 23px;
  width: 60px;
  transition: all 0.3s;
  max-height: 60px;
}
.progress__slide-prev:hover {
  background: #bd0007;
}

.progress__slider {
  margin: 0 50px 0 50px;
  max-width: 1076px;
}
@media screen and (max-width: 1320px) {
  .progress__slider {
    width: 1050px;
  }
}
@media screen and (max-width: 1300px) {
  .progress__slider {
    width: 1000px;
  }
}
@media screen and (max-width: 1252px) {
  .progress__slider {
    width: 950px;
  }
}
@media screen and (max-width: 1220px) {
  .progress__slider {
    width: 900px;
  }
}
@media screen and (max-width: 1165px) {
  .progress__slider {
    width: 850px;
  }
}
@media screen and (max-width: 1115px) {
  .progress__slider {
    width: 800px;
  }
}
@media screen and (max-width: 1066px) {
  .progress__slider {
    width: 700px;
  }
}

.progress__slide {
  padding: 60px;
  background: rgba(19, 61, 141, 0.15);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1165px) {
  .progress__slide {
    flex-direction: column;
  }
}

.progress__slide-content {
  max-width: 532px;
}

.progress__slide-tag {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  background: #133d8d;
  max-width: 157px;
  padding: 8px 12px 5px 12px;
  margin-bottom: 40px;
}

.progress__slide-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 25px;
}

.progress__slide-list {
  color: #333;
  padding-left: 30px;
  max-width: 413px;
}

.progress__slide-item {
  margin-bottom: 15px;
  position: relative;
}
.progress__slide-item:last-child {
  margin: 0;
}
.progress__slide-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #bd0007;
  position: absolute;
  top: 7px;
  left: -29px;
}

.progress__slide-decor {
  margin-left: 65px;
}
@media screen and (max-width: 1165px) {
  .progress__slide-decor {
    margin-left: 0;
    margin-top: 20px;
  }
}

.progress__slide-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #133d8d;
  padding: 23px;
  width: 60px;
  transition: all 0.3s;
  max-height: 60px;
}
.progress__slide-next:hover {
  background: #bd0007;
}

.slick-initialized .progress__slide {
  display: flex;
}

.footer {
  padding: 60px 70px;
  background: #133d8d;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__about-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__about-item {
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.footer__about-item:last-child {
  margin: 0;
}
.footer__about-item:hover {
  color: #bd0007;
}

.footer__flot-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__flot-item {
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.footer__flot-item:last-child {
  margin: 0;
}
.footer__flot-item:hover {
  color: #bd0007;
}

.footer__investors-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__investors-item {
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.footer__investors-item:last-child {
  margin: 0;
}
.footer__investors-item:hover {
  color: #bd0007;
}

.footer__contacts {
  max-width: 280px;
}

.footer__contacts-adress {
  color: #fff;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  margin-bottom: 15px;
}

.footer__contacts-tel {
  display: block;
  text-align: right;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05em;
  margin-top: 31px;
  margin-bottom: 11px;
  transition: all 0.3s;
}
.footer__contacts-tel:hover {
  color: #bd0007;
}

.footer__contacts-email {
  display: block;
  text-align: right;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  letter-spacing: 0.05em;
}
.footer__contacts-email:hover {
  color: #bd0007;
}

.activity {
  padding: 90px 0 150px;
}

.activity__title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 60px;
}

.activity__linkbox {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.activity__linkbox span {
  display: block;
  width: 4px;
  height: 4px;
  background: #133d8d;
  margin: 0 15px;
}

.activity__link {
  font-weight: 500;
  font-size: 13px;
  color: #333;
}
.activity__link:hover {
  text-decoration: underline;
}

.activity__content {
  display: flex;
}

.activity__article {
  max-width: 666px;
}

.activity__preface {
  padding-top: 6px;
  padding-left: 37px;
  padding-bottom: 9px;
  border-left: 3px solid #bd0007;
  max-width: 666px;
  margin-bottom: 62px;
}

.activity__preface-page {
  margin-bottom: 13px;
  color: #333;
}
.activity__preface-page:last-child {
  margin: 0;
  text-indent: 3px;
}

.activity__acticle-box {
  margin-bottom: 60px;
}
.activity__acticle-box:last-child {
  margin: 0;
}

.activity__article-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
}

.activity__article-page {
  color: #333;
  margin-bottom: 15px;
}
.activity__article-page:last-child {
  margin: 0;
}

.activity__projects {
  background: #133d8d;
  color: #fff;
  padding: 50px 60px 60px 60px;
  width: 524px;
  height: 620px;
  margin-left: 104px;
}
@media screen and (max-width: 1295px) {
  .activity__projects {
    height: 720px;
  }
}
@media screen and (max-width: 1230px) {
  .activity__projects {
    height: 820px;
  }
}

.activity__projects-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.activity__projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 35px 45px;
}

.activity__projects-item {
  max-width: 180px;
}

.activity__projects-number {
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
}

.activity__projects-text {
  font-weight: 500;
}

.contacts {
  padding: 90px 0 150px;
}

.contacts__title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 60px;
}

.contacts__linkbox {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.contacts__linkbox span {
  display: block;
  width: 4px;
  height: 4px;
  background: #133d8d;
  margin: 0 15px;
}

.contacts__link {
  font-weight: 500;
  font-size: 13px;
  color: #333;
}
.contacts__link:hover {
  text-decoration: underline;
}

.contacts__map {
  position: relative;
}

.contacts__map-info {
  color: #fff;
  background: #fff;
  padding-top: 46px;
  padding-left: 21px;
  position: absolute;
  top: 45px;
  left: 50px;
  width: 274px;
  height: 256px;
}

.contacts__map-btn {
  background: #133d8d;
  padding: 10px 15px 9px 15px;
  margin-left: 20px;
  transition: all 0.3s;
}
.contacts__map-btn:last-child {
  margin: 0;
}

.contacts__map-btn--active {
  background: rgba(19, 61, 141, 0.5);
}

.contacts__map-adress {
  margin-top: 43px;
  margin-left: 58px;
  max-width: 176px;
}

.contacts__map-adress-item {
  color: #333;
  font-weight: 500;
  max-width: 194px;
  margin-bottom: 17px;
  position: relative;
}
.contacts__map-adress-item a {
  color: #333;
  font-weight: 500;
}
.contacts__map-adress-item a:hover {
  text-decoration: underline;
}
.contacts__map-adress-item:last-child {
  margin: 0;
}
.contacts__map-adress-item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -34px;
}

.contacts__map-adress-item--adress::before {
  width: 14px;
  height: 18px;
  background: url("../img/icons/waypoint.svg");
  top: 10px;
}

.contacts__map-adress-item--phone::before {
  width: 16px;
  height: 16px;
  background: url("../img/icons/phone.svg");
}

.contacts__map-adress-item--email::before {
  width: 18px;
  height: 14px;
  background: url("../img/icons/message.svg");
}

.vacancies {
  padding: 90px 0 150px;
}

.vacancies__title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 60px;
}

.vacancies__linkbox {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.vacancies__linkbox span {
  display: block;
  width: 4px;
  height: 4px;
  background: #133d8d;
  margin: 0 15px;
}

.vacancies__link {
  font-weight: 500;
  font-size: 13px;
  color: #333;
}
.vacancies__link:hover {
  text-decoration: underline;
}

.vacanties__block {
  margin-bottom: 60px;
}
.vacanties__block:last-child {
  margin: 0;
}

.vacanties__block-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 45px;
}

.vacaties__block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 25px;
}

.vacaties__block-card {
  border: 1px solid rgba(51, 51, 51, 0.3);
  padding: 35px 40px;
}

.vacaties__card-title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}

.vacaties__card-specs {
  margin-top: 25px;
  margin-bottom: 34px;
  padding-left: 35px;
}

.vacaties__card-spec {
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
  position: relative;
}
.vacaties__card-spec:last-child {
  margin: 0;
}
.vacaties__card-spec:before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
}

.vacaties__card-spec--tanker:before {
  width: 18px;
  height: 17px;
  background: url("../img/icons/tanker.svg");
}

.vacaties__card-spec--contract:before {
  width: 14px;
  height: 18px;
  background: url("../img/icons/contract.svg");
}

.vacaties__card-btn {
  background: #133d8d;
  padding: 10px 15px 9px 15px;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s;
}
.vacaties__card-btn:hover {
  background: transparent;
  border: 1px solid #133d8d;
  color: #333;
  padding: 9px 14px 8px 14px;
}/*# sourceMappingURL=main.css.map */