.header {
    background: url('../img/header/danilkin/bgc.jpg') no-repeat;
    background-size: cover;
    height: 900px;
    position: relative;
    z-index: 0;
    transition: background .6s;
    &::before {
        content: '';
        background-color: rgba(19, 61, 141, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
.header__burger-open {
    height: 1077px;
}

.header-page {
    background: $accent-color3;
    height: 160px;
}
.header-page__burger-open {
    height: 410px;
}
.header__toprow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid $accent-color1;
}
.header__contact {
    font-weight: 500;
    color: $accent-color1;
}
.header__email {
    margin-right: 50px;
    transition: all .3s;
    &:hover {
        color: $accent-color2;
        text-decoration: underline;
    }
}
.header__tel {
    transition: all .3s;
    &:hover {
        color: $accent-color2;
        text-decoration: underline;
    }
}
.header__search {
    path {
        transition: all .3s;
    }
    &:hover {
        path {
            fill: $accent-color2;
        }
    }
}
.header__nav {
    margin-top: 30px;
    @include media (1024px) {
        position: relative;
        margin-top: 70px;
    }
}
.nav__burger {
    display: none;
    @include media (1024px) {
        display: block;
        position: absolute;
        left: 50%;
        margin-top: 30px;
        margin-right: -50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: $accent-color1;
        font-weight: 700;
        display: flex;
        align-items: center;
        span {
            display: block;
            width: 13px;
            height: 2px;
            background: $accent-color1;
            margin-right: 10px;
            position: relative;
            &::before {
                content: '';
                width: 13px;
                height: 2px;
                background: $accent-color1;
                position: absolute;
                top: 4px;
            }
            &::after {
                content: '';
                width: 13px;
                height: 2px;
                background: $accent-color1;
                position: absolute;
                bottom: 4px;
            }
        }
    }
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media (1024px) {
        flex-direction: column;
        display: none;
    }
}
.nav__item {
    transition: all .3s;
    &:hover {
        transform: scale(1.2);
    }
    @include media (1024px) {
        margin-top: 15px;
        text-align: center;
    }
}
.nav__link {
    text-transform: uppercase;
    color: $accent-color1;
    font-weight: 700;
}

.header__slider {
    margin-top: 120px;
    overflow: hidden;
}
.header__slider-line {
    
}
.header__slide {
    position: relative;
}
.header__slide-main {
    height: 550px;
    padding: 0 15.9%;
}
.header__slide-title {
    font-size: 60px;
    font-weight: 300;
    color: $accent-color1;
    max-width: 636px;
}
.header__slide-subtitle {
    font-weight: 500;
    color: $accent-color1;
    max-width: 410px;
    margin-top: 30px;
    padding-left: 30px;
    border-left: 1px solid $accent-color1;
}
.header_slide-btn {
    @include button($accent-color1, $accent-color2, 15px 30px, 170px, 16px);
    margin-top: 50px;
}
.header__slide-info {
    background: rgba(51, 51, 51, 0.3);
    width: 526px;
    padding: 30px 35px;
    position: absolute;
    bottom: 4px;
    right: 311px;
    @include media (1880px) {
        right: 292px;
    }
    @include media (1650px) {
        right: 178px;
    }
    @include media (1400px) {
        right: 52px;
    }
    @include media (1296px) {
        right: 0;
    }
}
.header__slide-info_title {
    font-weight: 700;
    color: $accent-color1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.header__slide-info_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__slide-info_parameters {
    margin-top: 25px;
}
.header__slide-info_parametr {
    font-weight: 300;
    color: $accent-color1;
    margin-bottom: 15px;
    &:last-child {
        margin: 0;
    }
}

.header__slide-info_decor {
    display: block; 
    max-height: 60px;
    
}
.header__slide-btn_box {
   display: flex;
   margin-top: -61px;
   z-index: 1;
   position: relative;
}
.header__slide-prev {
    @include arrBtn();
    margin-right: 20px;
}
.header__slide-next {
    @include arrBtn();
}
