.history {
    background: $accent-color3;
    padding: 120px 0 45px;
}
.history__inner {
    display: flex;
    @include media (1252px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.history__content {
    max-width: 526px;
}
.history__title {
    @include title($accent-color1);
    @include media (1252px) {
        text-align: center;
    }
}
.history__article {
    margin-top: 40px;
    color: $accent-color1;
}
.history__page {
    margin-bottom: 18px;
    &:last-child {
        margin: 0;
    }
}
.history__decor {
    margin: 75px 0 0 149px;
    @include media (1252px) {
        margin: 75px 0 0 0;
    }
}
.history__curve {
    margin-bottom: 15px;
    @include media (670px) {
        width: 100%;
    }
}
.history__list {
    margin-left: 73px;
    font-weight: 500;
    color: $accent-color1;
    @include media (370px) {
        margin-left: 50px;
    }
}
.history__item {
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    &:last-child {
        margin: 0;
    }
    &::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: -28px;
        transform: translateY(-50%);
        background: $accent-color1;
    }
    @include media (670px) {
        font-size: 14px;
    }
    @include media (400px) {
        font-size: 11px;
    }
}