.progress {
    padding: 150px 0;
}
.progress__inner {
    display: flex;
    align-items: center;
}
.progress__slide-prev {
    @include arrBtn ();
    max-height: 60px;
}
.progress__slider {
    margin: 0 50px 0 50px;
    max-width: 1076px;
}
.progress__slide {
    padding: 60px;
    background: rgba(19, 61, 141, 0.15);
    display: flex;
    
}
.progress__slide-content {
    max-width: 532px;
}
.progress__slide-tag {
    color: $accent-color1;
    font-weight: 500;
    font-size: 13px;
    background: $accent-color3;
    max-width: 157px;
    padding: 8px 12px 5px 12px;
    margin-bottom: 40px;
}
.progress__slide-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 25px;
}
.progress__slide-list {
    color: $title-color;
    padding-left: 30px;
    max-width: 413px;
}
.progress__slide-item {
    margin-bottom: 15px;
    position: relative;
    &:last-child {
        margin: 0;
    }
    &::before {
        content: '';
        width: 8px;
        height: 8px;
        background: $accent-color2;
        position: absolute;
        top: 7px;
        left: -29px
    }
}
.progress__slide-decor {
    margin-left: 65px;
}
.progress__slide-decor_img {
}
.progress__slide-next {
    @include arrBtn ();
    max-height: 60px;
}

.slick-initialized {
    .progress__slide {
        display: flex;
    }
}