* {
    font-family: "Helvetica Neue Cyr";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
    @include media (1320px) {
        padding: 0 15px;
    }
}